:root {
  --color-eerie-black: #1F1F1F;
  --color-charleston-green: #28292A;
  --color-philippine-gray: #8E8E8E;
  --color-platinum: #E3E3E3;
  --color-vivid-yellow : #FBE116;

}

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;